td {
    text-align: center;
    vertical-align: middle;
}
table, th, td {
    border: 1px solid black;

    border-collapse: collapse;
}
table#work th	{ /*/creates an absent center line for the top row*/
    background-color: rgb(192, 190, 190);
    border: rgb(192, 190, 190);
    /*color: rgb(192, 190, 190);*/
}
input{
	margin: .3em;
}
#studentName{
background: none}

#studentText{
	text-align:center
}
#dropdown{
	margin-left:40%
}
.table{
	width: 101%;
	margin-left: -1px;
} 
#lift{
	width: 50%;
}